.btn-1 {
    height: var(--button-height-1);
    background-color: var(--color-brand-2);
    padding: var(--padding-btn-1);
    border: none;
    border-radius: var(--radius-2);
    font-size: var(--text-3);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-7);
    cursor: pointer;
}

.btn-1:hover {
    background-color: var(--color-brand-1);
}

.btn-2 {
    height: var(--button-height-1);
    background-color: var(--color-grey-3);
    padding: var(--padding-btn-1);
    border: none;
    border-radius: var(--radius-2);
    font-size: var(--text-3);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-7);
    cursor: pointer;
}

.btn-2:hover {
    background-color: var(--color-grey-2);
}

.btn-3 {
    height: var(--button-height-2);
    background-color: var(--color-grey-3);
    padding: var(--padding-btn-1);
    border: 0.0625rem solid var(--color-grey-7);
    border-radius: var(--radius-3);
    font-size: var(--text-3);
    font-weight: var(--font-weight-3);
    color: var(--color-grey-7);
    cursor: pointer;
}

.btn-3:hover {
    background-color: var(--color-brand-2);
}

.searchButton {
    height: var(--button-height-1);
    background-color: rgba(214, 51, 108, 0.4);
    padding: var(--padding-btn-1);
    border: none;
    border-radius: var(--radius-3);
    font-size: var(--text-3);
    font-weight: var(--font-weight-3);
    color: rgba(255, 255, 255, 0.35);
    margin-top: 1.25rem;
}

.searchButton-active {
    height: var(--button-height-1);
    background-color: var(--color-brand-2);
    padding: var(--padding-btn-1);
    border: none;
    border-radius: var(--radius-3);
    font-size: var(--text-3);
    font-weight: var(--font-weight-3);
    color: var(--color-grey-7);
    cursor: pointer;
    margin-top: 1.25rem;
}

.searchButton-active:hover {
    background-color: var(--color-brand-1);
}






















